bunscape-browser {
    display: flex;
    position: absolute;
    width: 80%;
    height: 80%;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    top: 10%;
    background-color: white;
   }
