$bg-color: #55717c;

$desktop-padding: 32px;
$desktop-icon-size: 64px;
$desktop-icon-text-size: 10pt;

$colors: (
    whiteblue: #f9f7f7,
    lightblue: #dbe2ef,
    blue: #3f72af,
    darkblue: #112D4E,
    darkgray: #212121,
    gray: #757575,
    lightgray: #bdbdbd
)


