:root {
  /* #region hypnospace pallette, thanks Jay Tholen! */
  --hyp-01: rgb(34 32 52);
  --hyp-02: rgb(158 199 34);
  --hyp-03: rgb(91 90 101);
  --hyp-04: rgb(2 207 155);
  --hyp-05: rgb(173 208 116);
  --hyp-06: rgb(237 224 109);
  --hyp-07: rgb(133 77 57);
  --hyp-08: rgb(16 158 61);
  --hyp-09: rgb(123 131 131);
  --hyp-10: rgb(108 185 154);
  --hyp-11: rgb(191 53 75);
  --hyp-12: rgb(49 36 84);
  --hyp-13: rgb(149 46 138);
  --hyp-14: rgb(232 73 44);
  --hyp-15: rgb(137 74 211);
  --hyp-16: rgb(191 74 212);
  --hyp-17: rgb(235 112 68);
  --hyp-18: rgb(154 239 255);
  --hyp-19: rgb(154 199 245);
  --hyp-20: rgb(255 176 3);
  --hyp-21: rgb(143 181 245);
  --hyp-22: rgb(137 144 245);
  --hyp-23: rgb(235 228 221);
  --hyp-24: rgb(241 167 149);
  --hyp-25: rgb(209 137 127);
  --hyp-26: rgb(182 130 255);
  --hyp-27: rgb(49 36 84);
  --hyp-28: rgb(87 255 188);
  --hyp-29: rgb(0 109 143);
  --hyp-30: rgb(15 47 95);
  --hyp-31: rgb(213 203 251);
  --hyp-32: rgb(153 164 244);
  --hyp-33: rgb(20 20 20);
  /* #endregion */

}
